# Ignore all files by default, but scan all directories

*
!*/

# C/C++ source files
!*.c
!*.cc
!*.cpp
!*.cpp.template
!*.h
!*.h.template
!*.hpp
!*.inl
!*.inc
!*.m
!*.mm
!*.rc
!*.rc2
!*.def
!*.exp
!*.manifest

# Text files
!*.txt
!*.md

# Other configuration and markup files
!*.ini
!*.json
!*.xml
!*.config
!.git*

# Projects and makefiles
/build
!/build/*.vcproj
!/build/*.vcxproj
!/build/*.vcxproj.filters
!/build/*.sln
!/build/*.vsprops
!/build/*.snippet

# Specific names
!README
!AUTHORS
!LICENSE
!FAQ
!VERSION
!ChangeLog

# Ignore Unix backup files
*~
