# Ignore all files by default, but scan all directories

*
!*/

# C/C++ source files
!*.c
!*.cc
!*.cpp
!*.cpp.template
!*.h
!*.h.template
!*.hpp
!*.inl
!*.inc
!*.m
!*.mm
!*.rc
!*.rc2
!*.def
!*.exp
!*.manifest

# Text files
!*.txt
!*.md

# Other configuration and markup files
!*.ini
!*.json
!*.xml
!*.config
!.git*

# Projects and makefiles
!*.cmake
!*.vcproj
!*.vcxproj
!*.vcxproj.filters
!*.sln
!*.vsprops
!*.snippet
!Makefile
!Makefile.*

# Specific names
!README
!AUTHORS
!LICENSE
!FAQ
!VERSION
!ChangeLog

# Ignore Unix backup files
*~

# Exceptions
/*.sln
/*.xcodeproj
/Makefile
/CMakeLists.txt
*.target.xml
*.exe.config
*.exe.manifest
/.kdev4/
/UE4CodeCompletionFolders.txt
/UE4CodeLitePreProcessor.txt
